
@import 'basscss';
@import 'basscss-highlight';

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: inherit;
}

hr {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

code {
  border-bottom: 2px solid var(--darken-2);
  border-radius: 0;
}

.compact { font-family: var(--compact-font-family) }

.icon {
  position: relative;
  top: .125em;

  /* For UI Guide */
  width: 1em;
  height: 1em;
}

.btn-nav:hover {
  box-shadow: inset 0 0 0 99999px var(--darken-1);
}

.btn-link:hover {
  text-decoration: underline;
}

.SideBar {
  border-top: var(--border-width) solid var(--border-color);
}

@media (--breakpoint-sm) {
  .sm-px3 { padding-left: var(--space-3); padding-right: var(--space-3) }
  .Main {
    margin-left: 12rem;
  }
  .SideBar {
    position: fixed;
    width: 12rem;
    border-top: 0;
    border-right: var(--border-width) solid var(--border-color);
  }
}

.Footer {
  max-width: var(--container-width);
  margin: auto;
}

.Example .fixed {
  position: static;
}

:root {
  /*
  --font-family: 'SF UI Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  --compact-font-family: 'SF Compact Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  */
  --compact-font-family: var(--font-family);
  --line-height: 1.625;
  --h4: 1.125rem;
  --button-font-size: var(--h5);
  --bold-font-weight: 500;
  --heading-font-weight: 500;
  --container-width: 52rem;
  --pre-font-size: 87.5%;
}

