
#carbonads {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: none;
}

@media (--breakpoint-md) {
  #carbonads {
    float: right;
    margin-top: 0;
    margin-left: 1rem;
    max-width: 320px;
  }
}

@media (min-width: 83em) {
  #carbonads {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    max-width: 130px !important;
  }
  #carbonads .carbon-img {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
}

