
@media (max-width: 40em) {
  .StylesTable,
  .StylesTable tr,
  .StylesTable th,
  .StylesTable td {
    display: block;
  }

  .StylesTable td {
    font-size: var(--h5);
    padding: .25rem 0;
  }

  .StylesTable th {
    height: 0;
    overflow: hidden;
  }

  .StylesTable td:first-child {
    font-size: var(--h4);
    font-weight: var(--bold-font-weight);
    border-bottom: 2px solid var(--border-color);
  }

  .StylesTable tr {
    margin-bottom: var(--space-1);
  }
}

@media (--breakpoint-sm) {

  .StylesTable th,
  .StylesTable td {
    font-size: var(--h5);
    padding: .25rem 0;
    vertical-align: baseline;
  }

  .StylesTable th:first-child {
    width: 25%;
  }

  .StylesTable th {
    border-bottom: 2px solid var(--border-color);
  }

  .StylesTable td {
    border-bottom: 1px solid var(--border-color);
  }

}

