
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: inherit;
}

hr {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

code {
  border-bottom: 2px solid var(--darken-2);
}

pre {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  overflow: auto;
  border-left: 4px solid var(--darken-1);
}

.compact { font-family: var(--compact-font-family) }

