
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: inherit;
}

hr {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

code {
  border-bottom: 2px solid var(--darken-2);
  border-radius: 0;
}

.compact { font-family: var(--compact-font-family) }

