
div { box-sizing: border-box }

/* Fix in basscss */
.field { color: inherit }

.container-small {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}

@media (--breakpoint-sm) {

  .sm-px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
  .sm-fixed { position: fixed }

  .sm-w12m { width: 12em }
  .sm-ml12m { margin-left: 12em }

}

.prose > p { font-size: var(--prose-font-size) }
.prose > p:first-of-type { font-size: var(--prose-intro-font-size) }

.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4 {
  margin-top: var(--prose-heading-margin-top);
}

/* extension for ads */
.prose > div,
.prose > section {
  clear: both;
}


.touch-scroll { -webkit-overflow-scrolling: touch }

.icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: -.125em;
  vertical-align: middle;
  fill: currentcolor;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--black);
}

pre {
  padding: var(--space-2);
  background-color: var(--darken-1);
}

code {
  font-size: 87.5%;
  color: var(--blue);
  background-color: transparent;
}

pre code {
  padding: 0;
}

.highlight pre { background-color: transparent; margin-bottom: 0 }

.b2 { border-width: 2px }

:root {
  --prose-font-size: 1.125rem;
  --prose-intro-font-size: var(--h3);
  --prose-heading-margin-top: 1.5em;
}

