
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=basscsscom" id="_carbonads_js"></script>
<style>
  #carbonads {
    font-size: 14px;
    line-height: 1.25;
    padding: .75em;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
  }
  #carbonads a, #carbonads a:hover { text-decoration: none; color: inherit }
  #carbonads span { display: block }
  #carbonads > span::before, #carbonads > span::after { content: ''; display: table; }
  #carbonads > span::after { clear: both }
  .carbon-img { float: left; margin-right: .5em; }
  .carbon-img > img { display: block }
  .carbon-text { overflow: hidden }
  .carbon-poweredby { float: left; margin-top: .25em; opacity: 0.5; }

  @media (min-width: 52em) {
    #carbonads {
      max-width: 320px;
      margin-left: 2rem;
    }
  }

  /*
  #carbonads img { display: block; margin: 0 auto .5em }
  #carbonads .carbon-poweredby { text-align: center; display: block }
  */

  /*
  #carbonads { font-size: 14px; max-width: 320px; padding: .5em; border: 1px solid rgba(0,0,0,.125) }
  #carbonads a { text-decoration: none; color: inherit }
  #carbonads a:hover { text-decoration: none }
  */
</style>

