<header class="mt4 mb4">
  <h1 class="h0 h0-responsive m0">
    <%= page.title %>
  </h1>
  <% if (page.module) { %>
    <div class="sm-flex flex-baseline flex-wrap mxn1">
      <div class="bold px1">
        <%= page.name %>
        <span class="h5">v<%= page.version %></span>
      </div>
      <div class="flex-auto"></div>
      <a href="<%= page.npm_link %>" class="h6 btn">npm</a>
      <a href="<%= page.homepage %>" class="h6 btn">github</a>
    </div>
  <% } %>
  <% if (page.path === '/') { %>
    <p class="h4 bold m0">
      Low-level CSS toolkit
      <span class="h5">v<%= version %></span>
    </p>
  <% } %>
  <hr class="mt1 mb1 b2 border-aqua">
  <% if (obj.page.breadcrumbs.length) { %>
    <div class="h5 bold mb3">
      <a href="/" class="mr1 blue">Home</a>
        <% obj.page.breadcrumbs.forEach(function(crumb, i) { %>
          /
          <a href="<%= crumb.path %>" class="ml1 mr1 blue">
            <%= removePrefix(crumb.title) %>
          </a>
        <% }) %>
      /
      <span class="h5 bold inline-block ml1"><%= page.title %></span>
    </div>
  <% } else if (obj.page.description) { %>
    <p class="bold py1"><%= obj.page.description %></p>
  <% } %>
</header>



