<!DOCTYPE html>
<html>
<%= include('head') %>
<body>

<div class="sm-ml12m">
  <div class="container-small px2 sm-px3 py2 mb3">
    <%= include('page-header') %>
    <div class="prose">
      <div class="md-col-right">
        <%= include('ad') %>
      </div>
      <%= body %>
    </div>
    <% if (page.module) { %>
      <%= include('module-footer', { module: page }) %>
    <% } %>
    <%= include('pagination') %>
  </div>
</div>

<div class="sm-hide fixed top-0 right-0 px2">
  <a href="#nav" class="button button-link">Menu</a>
</div>

<nav id="nav" class="sm-fixed z2 sm-w12m top-0 bottom-0 left-0 overflow-scroll touch-scroll border-right">
  <%= include('side-nav') %>
</nav>

</body>
</html>
