<!DOCTYPE html>
<html>
<%= include('head') %>
<body>

<div class="sm-ml12m">
  <div class="container-small px2 sm-px3 py2 mb3">
    <%= include('page-header') %>
    <div class="prose">
      <div class="md-col-right">
        <%= include('ad') %>
      </div>
      <%= body %>
    </div>
    <% if (page.module) { %>
      <%= include('module-footer', { module: page }) %>
    <% } %>
    <%= include('pagination') %>
  </div>
</div>

<div class="sm-hide px2" style="position:fixed;top:0;right:0;">
  <a href="#nav" class="btn">Menu</a>
</div>

<nav id="nav" class="sm-fixed sm-w12m overflow-scroll touch-scroll border-right"
  style="top:0;bottom:0;left:0;z-index:2">
  <%= include('side-nav') %>
</nav>

</body>
</html>
