
/*
* { outline: 1px solid tomato }
*/

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.hover-underline:hover {
  text-decoration: underline;
}

code {
  color: var(--blue);
  background-image: linear-gradient(transparent, transparent 87.5%, color(var(--blue) a(.125)) 87.5%);
}

pre {
  padding-left: 1rem;
  border-left: 3px solid var(--darken);
}

.MarkedExample-rendered * {
  border-color: var(--gray);
}

.palatino {
  font-family: Palatino, Georgia, serif;
}

@media screen and (min-width: 64em) {
  .lg-px4 { padding-left: 4rem; padding-right: 4rem; }
}

.MarkedExample .fixed {
  position: relative;
}

.Prose h2 {
  margin-top: 3rem;
}

th, td {
  border-bottom: 1px solid var(--darken);
}

.color-inherit { color: inherit }
.border-thick { border-width: 3px }
.border-darken { border-color: var(--darken) }
.border-gray { border-color: var(--gray) }

.black  { color: var(--black) }
.white  { color: #fff }
.blue   { color: var(--blue) }
.gray   { color: var(--gray) }
.darken { color: var(--darken) }

.bg-black  { background-color: var(--black) }
.bg-white  { background-color: #fff }
.bg-blue   { background-color: var(--blue) }
.bg-gray   { background-color: var(--gray) }
.bg-darken { background-color: var(--darken) }


:root {
  --gray: #ccc;
  --blue: #07c;
  --black: #111;
  --darken: rgba(0,0,0,.0625);
}

